.App-header {
  background-image: linear-gradient(
    to bottom right,
    rgb(60, 9, 53),
    rgb(111, 0, 255)
  );
  min-height: 100vh;
  display: flex;

  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .App-header {
    display: block;
  }
  .App {
    margin-top: 35px;
    width: 100%;
  }
  .welcome {
    width: 100% !important;
  }
  .content {
    position: relative;
    top: 20px;
  }
}
.welcome {
  width: 50%;
}
.content {
  margin-left: 30px;
}

.circle {
  width: 100px;
  height: 100px;
  border-top: dashed 1px aqua;
  border-left: dashed 1px aqua;
  border-bottom: dashed 1px aqua;
  animation: rot 3s linear 1;
  border-radius: 50%;
  align-items: center;
}
@keyframes rot {
  to {
    transform: rotate(360deg);
  }
}
